@import "../../../../utils/scss/vars.scss";
@import "../../../../utils/scss/media.scss";

.Card {
  width: 100%;

  @include media(1024px) {
    min-width: 324px;
  }

  @include media(768px) {
    min-width: 300px;
  }

  @include media(500px) {
    min-width: 280px;
  }
}
