.Loader {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 256px;
  height: 185px;

  overflow: hidden;
}

.Item {
  margin-bottom: 26px;

  &:last-child {
    margin-bottom: 0;
  }

  &:first-child {
    margin-bottom: 45px;
  }
}