@import "../../../utils/scss/vars";

.Select {
  [class$="-option"] {
    &:active {
      background-color: $colorMain;
      color: $colorAdd2;
    }
  }

  [class$="indicatorContainer"] {
    &:hover {
      color: $colorAdd2;
    }
  }
}
