@import "../../../utils/scss/vars";
@import "../../../utils/scss/media";

.Range {
  margin-top: 40px;
  user-select: none;
}

.Slider {
  position: relative;
  height: 11px;

  background-color: rgba(244, 176, 43, 0.11);
  border: 1px solid rgba(244, 176, 43, 0.28);
  border-radius: $radius;
}

.Limit {
  position: absolute;

  font-weight: 500;
  font-size: 20px;
  line-height: 102.4%;

  @include media(550px) {
    font-size: 18px;
  }
}

.StaticLimit {
  bottom: -35px;

  color: $colorAdd1;

  @include media(550px) {
    bottom: -30px;
  }
}

.Min {
  left: 0;
}

.Max {
  right: 0;
}

.Indicator {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 11px;

  rect {
    height: 100%;
    fill: $colorMain;
  }
}
