@import "../../../utils/scss/vars.scss";
@import "../../../utils/scss/media.scss";

.Nav {
  @include media(830px) {
    position: fixed;
    z-index: 300;

    top: 0;
    right: 0;

    width: 250px;
    transform: translateX(120%);

    transition: 0.5s ease transform;

    box-shadow: -1px 3px 31px 4px #000000;
  }

  @include media(540px) { width: 180px; }
}

.showed {
  transform: translateX(0);
}

.MenuBtn {
  display: none;

  position: relative;

  width: 40px;
  height: 30px;

  cursor: pointer;

  @include media(830px) { display: flex; }

  @include media(540px) {
    height: 20px;
    width: 30px;
  }

  & span {
    position: absolute;
    left: 0;

    width: 100%;
    height: 5px;

    background-color: $colorAdd2;
    transition: 0.5s ease all;

    &:nth-child(1) { top: 0; }

    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    &:nth-child(3) { bottom: 0; }
    @include media(540px) { height: 3px; }
  }
}

.CloseBtn {
  width: 40px;
  height: 30px;

  position: absolute;
  top: 15px;
  right: 15px;

  @include media(540px) {
    top: 10px;

    width: 30px;
    height: 20px;
  }
}