@import '../../../../utils/scss/vars';
@import '../../../../utils/scss/media';

.Pagination {
  display: flex;
  margin-bottom: 20px;

  li {
    font-weight: 600;

    background-color: rgba(244, 176, 43, 0.32);
    color: black;

    margin-right: 15px;

    &:global(.active) {
      color: $colorAdd2;
      background-color: $colorMain;
    }

    a {
      padding: 12.5px 20px;

      @include media(480px) {
        padding: 10.5px 15px;
      }

      @include media(400px) {
        padding: 7.5px 10px;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @include media(1024px) {
    align-self: center;
  }
}

.Arrow {
  width: 10px;
  height: 10px;
}

.Prev {
  transform: rotate(180deg);
}

.Break {
  @include media(610px) {
    display: none;
  }
}