@import '../../utils/scss/vars.scss';
@import '../../utils/scss/media.scss';
@import '../../utils/scss/mixins.scss';

.LimitedSale {
  position: relative;
  padding: 54px 0;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &Body {
    display: flex;
    justify-content: space-between;

    @include media(880px) {
      flex-direction: column;
    }
  }

  &Container {
    position: relative;
    z-index: 30;
  }

  $bgFilterColor: linear-gradient(180deg, rgba(31, 39, 27, 0.33) 0%, rgba(31, 39, 27, 0.45) 100%);
  @include bgFilter($bgFilterColor);
}

.orange {
  color: $colorMain;
}