@import "../../../../utils/scss/media";

.Title {
  margin-bottom: 29px;
}

.Wrapper {
  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 0;
  }
}

.TextPart {
  max-width: 488px;

  margin-right: 40px;

  &:last-child {
    margin-right: 0;

    @include media(768px) {
      margin: 0;
    }
  }

  @include media(768px) {
    max-width: 100%;

    margin: 0 0 40px 0;
  }
}

.TextBlock {
  display: flex;
  justify-content: space-between;

  @include media(768px) {
    flex-direction: column;
  }
}
