@import "../../../../../utils/scss/media.scss";

.Item {
  width: 100%;
  height: 168px;

  &:last-child {
    @include media(1024px) {
      margin-right: 0;
    }
  }

  @include media(1024px) {
    min-width: 367px;
    margin-right: 15px;
  }

  @include media(500px) {
    min-width: 280px;
  }
}

.Loader {
  position: relative;

  min-height: 100%;
  width: 100%;

  overflow: hidden;
}

.Wrapper {
  display: flex;

  position: absolute;
  top: 0;
  left: 50%;

  transform: translateX(-50%);
}
