@import '../../utils/scss/vars.scss';
@import '../../utils/scss/media.scss';
@import '../../utils/scss/text.scss';

* {
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
}

.container {
    width: 100%;
    max-width: 1200px;

    margin: 0 auto;
    padding: 0 20px;

    @include media(550px) {
        padding: 0 15px;
    }

    @include media(400px) {
        padding: 0 10px;
    }
}

#root {
    padding-top: 66px;

    @include media(1100px) {
        padding-top: 66px;
    }

    @include media(540px) {
        padding-top: 36px;
    }
}