@import "../../utils/scss/vars.scss";
@import "../../utils/scss/media.scss";
@import "../../utils/scss/mixins.scss";

.Title {
  text-transform: uppercase;
  font-weight: bold;

  line-height: 102.4%;
}

.lg {
  @include responsibleFont(320px, 1280px, 30px, 60px);
}

.xl {
  @include responsibleFont(320px, 1280px, 30px, 80px);
}

.sm {
  @include responsibleFont(320px, 1280px, 25px, 36px);
}

.black {
  color: $colorAdd1;
}

.white {
  color: $colorAdd2;
}
