@import '../../utils/scss/media.scss';

.SliderItem {
    position: absolute;
    top: 5%;
    right: 0;

    z-index: 10;

    opacity: 0;

    @include media(1100px) {
        top: 20%;
        right: 10%;
        max-width: 450px;
    }
    
    @include media(1000px) { position: static; }
}