@import '../../utils/scss/vars.scss';
@import '../../utils/scss/media.scss';

.limited-sale {
  color: $colorAdd2;

  &__details {
    display: flex;
    flex-direction: column;

    @include media(880px) {
      align-items: center;
      text-align: center;

      margin-bottom: 30px;
    }
  }

  &__title {
    max-width: 466px;

    margin-bottom: 18px;

    @include media(540px) {
      padding: 0 40px;
    }
  }

  &__subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 102.4%;

    margin-bottom: 14px;
  }

  &__description {
    font-weight: 500;
    font-size: 20px;
    line-height: 102.4%;

    @include media(880px) {
      margin-bottom: 30px;
    }
  }

  &__price {
    font-weight: bold;
    line-height: 102.4%;

    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.08);

    &--old {
      font-size: 45px;
      text-decoration: line-through;

      color: #CBCBCB;

      margin-top: auto;
      margin-bottom: 18px;

      @include media(880px) {
        margin-bottom: 10px;
      }

      @include media(720px) {
        font-size: 35px;
      }

      @include media(540px) {
        font-size: 35px;
      }

      @include media(420px) {
        font-size: 30px;
      }
    }

    &--new {
      font-size: 77px;

      @include media(720px) {
        font-size: 60px;
      }

      @include media(540px) {
        font-size: 50px;
      }

      @include media(420px) {
        font-size: 40px;
      }
    }
  }
}