@keyframes ldio-dotj2cjxn4s {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }
  .ldio-dotj2cjxn4s div {
    left: 99px;
    top: 67px;
    position: absolute;
    animation: ldio-dotj2cjxn4s linear 1s infinite;
    background: #0a0a0a;
    width: 2px;
    height: 22px;
    border-radius: 0px / 0px;
    transform-origin: 1px 33px;
  }.ldio-dotj2cjxn4s div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.8888888888888888s;
    background: #0a0a0a;
  }.ldio-dotj2cjxn4s div:nth-child(2) {
    transform: rotate(40deg);
    animation-delay: -0.7777777777777778s;
    background: #0a0a0a;
  }.ldio-dotj2cjxn4s div:nth-child(3) {
    transform: rotate(80deg);
    animation-delay: -0.6666666666666666s;
    background: #0a0a0a;
  }.ldio-dotj2cjxn4s div:nth-child(4) {
    transform: rotate(120deg);
    animation-delay: -0.5555555555555556s;
    background: #0a0a0a;
  }.ldio-dotj2cjxn4s div:nth-child(5) {
    transform: rotate(160deg);
    animation-delay: -0.4444444444444444s;
    background: #0a0a0a;
  }.ldio-dotj2cjxn4s div:nth-child(6) {
    transform: rotate(200deg);
    animation-delay: -0.3333333333333333s;
    background: #0a0a0a;
  }.ldio-dotj2cjxn4s div:nth-child(7) {
    transform: rotate(240deg);
    animation-delay: -0.2222222222222222s;
    background: #0a0a0a;
  }.ldio-dotj2cjxn4s div:nth-child(8) {
    transform: rotate(280deg);
    animation-delay: -0.1111111111111111s;
    background: #0a0a0a;
  }.ldio-dotj2cjxn4s div:nth-child(9) {
    transform: rotate(320deg);
    animation-delay: 0s;
    background: #0a0a0a;
  }
  .loadingio-spinner-spinner-fd2oqxj31jk {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
  }
  .ldio-dotj2cjxn4s {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-dotj2cjxn4s div { box-sizing: content-box; }