@import '../../utils/scss/media.scss';

.Header {
    position: fixed;
    top: -50%;
    left: 0;
    z-index: 150; 

    padding: 15px 0;
    width: 100%;
    
    background-color: #F4B02B;
    transition: top 0.7s ease;

    &.showed {
        top: 0%;
    }

    &Body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &Logo {
        img {
            width: 218px;
            height: 33px;
    
            @include media(540px) { width: 150px; }
        }
    }

    &Loggin {
        img {
            width: 16px;
            height: 18px;
        }
    
        margin-right: 20px;
    }

    &Cart {
        img {
            width: 20px;
            height: 17px;
        }
    }

    @include media(540px) { padding: 5px 0; }
}