@import '../../utils/scss/vars.scss';
@import '../../utils/scss/media.scss';

.shop-card {
  position: relative;

  width: 279px;
  height: 327px;
  border-radius: $radius;

  @include media(720px) {
    width: 250px;
    height: 300px;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;

    content: '';
    width: 100%;
    height: 100%;

    background: linear-gradient(180deg, rgba(31, 39, 27, 0) 0%, rgba(31, 39, 27, 0.87) 100%);
  }

  &--mini {
    max-width: 367px;
    height: 168px;

    padding: 29px 29px 38px 29px;

    background-color: gray;

    &:after {
      content: none;
    }

    @include media(500px) {
      padding: 30px 15px;
    }
  }

  &__body {
    position: relative;
    z-index: 10;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    padding: 23px 21px 17px;
  }

  &__ul {
    margin-bottom: auto;

    li {
      position: relative;

      font-weight: 500;
      font-size: 12px;
      line-height: 102.4%;

      color: $colorAdd2;

      margin: 0 0 8px 10px;

      &:after {
        position: absolute;
        top: 50%;
        left: -10px;
        transform: translateY(-50%);

        content: "";
        background-color: $colorMain;

        width: 6px;
        height: 6px;
        border-radius: 50%;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    max-width: 166px;
    margin-bottom: 9px;

    font-size: 25px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;

    color: $colorAdd2;

    &--mini {
      max-width: 146px;

      font-size: 22px;
      line-height: 102.4%;

      margin-bottom: 12px;
    }
  }

  &__btn {
    position: absolute;
    bottom: 17px;
    right: 21px;

    display: block;

    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;

    width: 105px;
    height: 40px;
    padding: 15px 23px 12px;

    color: $colorAdd2;
    border-radius: $radius;

    &--mini {
      position: static;

      max-width: 120px;
      width: auto;

      height: 43px;
      padding: 13px 22px;

      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__price {
    display: flex;
    flex-direction: column;

    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    text-transform: uppercase;

    color: $colorAdd2;

    & span {
      font-size: 23px;
      font-weight: bold;
    }

    &--mini {
      display: flex;

      position: absolute;
      top: 0;
      right: 25px;

      background-color: $colorMain;
      width: 45px;
      height: 40px;

      padding: 16px 7px;

      font-weight: bold;
      font-style: normal;
      line-height: 102.4%;

      &:before, &:after {
        content: '';

        position: absolute;
        top: 100%;

        width: 0;
        height: 0;
        border-top: 22.5px solid $colorMain;
      }

      &:after {
        left: 0;
        border-right: 22.5px solid transparent;
      }

      &:before {
        right: 0;
        border-left: 22.5px solid transparent;
      }
    }
  }
}