@import "../../utils/scss/vars.scss";
@import "../../utils/scss/media.scss";
@import "../../utils/scss/mixins.scss";

.ShopCard {
  position: relative;

  width: 279px;
  height: 327px;
  border-radius: $radius;

  background-size: cover;

  $bgFilter: linear-gradient(
    180deg,
    rgba(31, 39, 27, 0) 0%,
    rgba(31, 39, 27, 0.87) 100%
  );
  @include bgFilter($bgFilter) {
    border-radius: $radius;
  }

  @include media(1200px) {
    width: calc(220px + (279 - 220) * ((100vw - 320px) / (1240 - 320)));
    height: calc(280px + (327 - 280) * ((100vw - 320px) / (1240 - 320)));
  }

  &--mini {
    max-width: 367px;
    height: 168px;

    padding: 29px 29px 38px 29px;

    background-color: gray;

    &:after {
      content: none;
    }
  }

  &Body {
    position: absolute;
    z-index: 10;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    padding: 23px 21px 17px;
  }

  &Ul {
    margin-bottom: auto;

    li {
      position: relative;

      font: 500 12px/102.4% $font;

      color: $colorAdd2;

      margin: 0 0 8px 10px;

      &:after {
        position: absolute;
        top: 50%;
        left: -10px;
        transform: translateY(-50%);

        content: "";
        background-color: $colorMain;

        width: 6px;
        height: 6px;
        border-radius: 50%;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &Title {
    max-width: 166px;
    margin-bottom: 9px;

    font: bold 25px/25px $font;
    text-transform: uppercase;

    @include responsibleFont(320px, 720px, 20px, 25px);

    color: $colorAdd2;

    &--mini {
      max-width: 146px;

      font-size: 22px;
      line-height: 102.4%;

      margin-bottom: 12px;
    }
  }

  &Button {
    position: absolute;
    bottom: 17px;
    right: 21px;

    display: block;

    font: 600 11px/13px $font;
    text-transform: uppercase;

    width: 105px;
    height: 40px;
    padding: 15px 23px 12px;

    color: $colorAdd2;
    border-radius: $radius;

    &--mini {
      position: static;

      max-width: 120px;
      width: auto;

      height: 43px;
      padding: 13px 22px;

      font: 500 14px/17px $font;
    }
  }

  &Price {
    display: flex;
    flex-direction: column;

    font: 500 16px/20px $font;
    text-transform: uppercase;

    color: $colorAdd2;

    & span {
      font-size: 23px;
      font-weight: bold;
    }

    &--mini {
      display: flex;

      position: absolute;
      top: 0;
      right: 25px;

      background-color: $colorMain;
      width: 45px;
      height: 40px;

      padding: 16px 7px;

      font-weight: bold;
      font-style: normal;
      line-height: 102.4%;

      &:before,
      &:after {
        content: "";

        position: absolute;
        top: 100%;

        width: 0;
        height: 0;
        border-top: 22.5px solid $colorMain;
      }

      &:after {
        left: 0;
        border-right: 22.5px solid transparent;
      }

      &:before {
        right: 0;
        border-left: 22.5px solid transparent;
      }
    }
  }
}
