@import '../../utils/scss/media.scss';
@import '../../utils/scss/vars.scss';

.Intro {
    display: flex;
    align-items: center;

    height: 600px;
    overflow: hidden;

    &Body {
        display: flex;
        align-items: center;

        height: 100%;

        @include media(1000px) {
            flex-direction: column;
        }
    }

    &Container {
        height: 100%;
        position: relative;
    }

    @include media(1000px) { height: auto; }
}