@import '../../utils/scss/media.scss';
@import '../../utils/scss/vars.scss';

.intro {
    display: flex;
    align-items: center;

    height: 600px;
    overflow: hidden;

    &__body {
        display: flex;
        align-items: center;

        height: 100%;

        @include media(1000px) {
            flex-direction: column;
        }
    }

    &__container {
        height: 100%;
        position: relative;
    }

    @include media(1000px) {
        height: auto;
    }
}