@import '../../utils/scss/media.scss';
@import '../../utils/scss/vars.scss';

.intro {
    display: flex;
    align-items: center;

    height: 600px;
    overflow: hidden;

    &__title {
        max-width: 555px;
        margin-bottom: 23px;

        @include media(1100px) {
            max-width: 440px;
        }

        @include media(720px) {
            max-width: 350px;
        }

        @include media(420px) {
            max-width: 250px;
        }
    }

    &__text {
        max-width: 447px;
        margin-bottom: 34px;
    }

    &__btn {
        padding: 14px 30px;
        max-width: 150px;
    }

    &__body {
        display: flex;
        align-items: center;

        height: 100%;

        @include media(1000px) {
            flex-direction: column;
        }
    }

    &__container {
        height: 100%;
        position: relative;
    }

    @include media(1000px) {
        height: auto;
    }
}