@import '../../../utils/scss/vars';
@import '../../../utils/scss/media';

.ShopCategory {
  font-weight: 500;
  color: #1F271B;

  margin-bottom: 57px;
}

.List {
  li {
    margin-bottom: 26px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include media(1024px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }
}

.Title {
  position: relative;

  font-size: 22px;
  line-height: 102.4%;
  text-transform: uppercase;
  margin-bottom: 45px;

  &:after {
    position: absolute;
    bottom: -19px;
    left: 0;

    width: 100%;
    height: 2px;
    background-color: rgba(31, 39, 27, 0.08);

    content: '';
  }
}