@import '../../utils/scss/vars.scss';
@import '../../utils/scss/media.scss';

.SubscribeForm {
  display: flex;

  @include media(550px) {
    flex-direction: column;

    width: 100%;
    padding: 0 20px;
  }

  @include media(450px) {
    padding: 0 0px;
  }

  &Input {
    padding: 26px 28px 25px;
    width: 296px;
    height: 69px;

    background: rgba(255, 255, 255, 0.11);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 5px 0 0 5px;

    font: 500 18px/102.4% $font;
    color: white;

    @include media(1100px) {
      padding: 18px 25px 18px;
      width: 266px;
      height: 60px;

      font-weight: 500;
      font-size: 16px;
    }

    @include media(550px) {
      border-radius: 5px 5px 0 0;
      text-align: center;

      width: 100%;
    }

    @include media(400px) {
      padding: 18px 15px 18px;
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.31);
    }
  }

  &Button {
    padding: 26px 49px 25px;
    border-radius: 0 5px 5px 0;

    @include media(1100px) {
      height: 60px;
      padding: 22px 42px 22px;
    }

    @include media(550px) {
      border-radius: 0 0 5px 5px;
      justify-content: center;
    }
  }

  &Clue {
    position: absolute;
    bottom: -55%;
    left: 0;

    line-height: 20px;
    text-align: left;

    width: 120%;
    height: 32px;

    @include media(1100px) {
      bottom: -60%;
    }

    @include media(550px) {
      bottom: -160%;
      width: 105%;
    }
  }
}