@import "../../utils/scss/vars.scss";
@import "../../utils/scss/media.scss";
@import "../../utils/scss/mixins.scss";

.AdvantagesItem {
  width: 175px;

  @include flexColumnCenter;

  @include media(600px) {
    flex: 0 0 50%;
    margin-bottom: 30px;

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }
  }

  &Img {
    position: relative;

    width: 139px;
    height: 139px;

    background: rgba(255, 255, 255, 0.11);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 84px;

    margin-bottom: 21px;

    @include media(768px) {
      width: 100px;
      height: 100px;

      margin-bottom: 10px;
    }

    & img {
      width: calc(100% / 2.07);
      height: calc(100% / 2.07);
      @include posAtCenter;
    }
  }

  & span {
    max-width: 175px;

    font: bold 24px/120.9% $font;
    text-align: center;
    color: $colorAdd2;

    @include responsibleFont(320px, 1280px, 14px, 24px);

    @include media(768px) {
      max-width: 140px;
    }
  }
}
