@import "../../utils/scss/vars.scss";
@import "../../utils/scss/media.scss";

.Nav {
  @include media(830px) {
    position: fixed;
    z-index: 300;

    top: 0;
    right: 0;

    width: 250px;
    transform: translateX(120%);

    transition: 0.5s ease transform;

    box-shadow: -1px 3px 31px 4px #000000;
  }

  @include media(540px) { width: 180px; }

  &.showed { transform: translateX(0); }
}