@import '../media.scss';

.fade-out-left {
    &-enter {
        opacity: 0;
        transform: translateX(30%);

        @include media(1000px) {
            transform: translate(30%, 10%);
        }

        &-active {
            opacity: 1;
            transform: translateX(0);
            transition: opacity 0.5s ease, transform 0.5s ease;

            @include media(1000px) {
                transform: translate(0, 10%);
            }
        }

        &-done {
            opacity: 1;
            transform: translateX(0);

            @include media(1000px) {
                transform: translate(0, 10%);
            }
        }
    }
}